@mixin title {
    font-weight: 700;
    font-size: 35px;
    line-height: 55px;
    text-align: center;
    color: #000000;
}

@mixin cardtitle {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #3E1213;
}

@mixin discription {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

@mixin for_what_use {
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #000000;

}

@mixin card_stock {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    text-transform: capitalize;
    color: #B49138;

}

@mixin links {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    font-size: 10px;
    line-height: 25px;
}


body {
    font-family: "Almendra-Regular", sans-serif;
    font-weight: 400;
    background: url("../img/texture-background.png") 50% / cover no-repeat;
}

.wrapper {
    margin: 0 auto;
    max-width: 1600px;
}

.main_wraper {
    padding: 0 10px;
}

.header {
    padding: 10px;

    .header_inner {
        background: url("../img/1Header_m_768.png") 0 0 no-repeat;
        background-size: 100%;
        padding-bottom: 113.24%;
        height: 0;
        overflow: hidden;
        position: relative;
    }

    h1 {

        position: absolute;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        color: #ECEBE6;
        text-shadow: 0px 0px 50px #000000;
        bottom: 50px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    background: url("../img/background_for_btn.png") 50% 0 / 343px 185px repeat-y;
    margin-bottom: 94px;

    ul {
        align-self: center;
        margin-top: 50px;
    }

    li {
        text-align: center;
        background: url("../img/btn.png") 0 0 / cover no-repeat;
        width: 235px;
        height: 58px;
        margin-bottom: 17px;
    }

    .buy_now {
        background: url("../img/btn_buy_now.png") 0 0 / cover no-repeat;

    }

    a {
        display: block;
        text-decoration: none;
        color: white;
        padding-top: 18px;
        padding-bottom: 14px;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
    }

}

.about_game {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    h2 {
        @include title();
    }

    img {

        width: 100%;
        margin: 0 auto;
        margin-bottom: 45px;
    }

    p {
        @include discription();
        margin-bottom: 20px;
    }

    .show {
        display: none;
    }



}




.key_features_container {
    margin-bottom: 100px;

    .key_option {
        margin-bottom: 41px;
    }

    h2 {
        @include title();
        margin-bottom: 45px;
    }

    .key_option {
        display: flex;

        .arrow {
            margin-right: 20px;
        }

        .about {
            @include discription()
        }
    }

    .angel {
        text-align: end;
        margin-bottom: 70px;

        img {
            height: 150px;
        }
    }



    .game_rules_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        // margin-bottom: 155px;


        .game_rules {
            display: flex;
            flex-direction: column;
            width: 45%;
            border-right: 2.5px solid rgba(63, 18, 18, 0.5);
            text-align: center;

            .count {
                font-weight: 700;
                font-size: 20px;
                line-height: 55px;
                color: #000000;
            }
        }

        .game_rules:nth-child(1),
        .game_rules:nth-child(3) {
            border-right: 2.5px solid rgba(63, 18, 18, 0.5);
            border-left: 2.5px solid rgba(63, 18, 18, 0.5);

        }

        // .game_rules:nth-child(odd) {
        //     border-left: 2.5px solid rgba(63, 18, 18, 0.5);
        // }

        .game_rules:nth-child(1),
        .game_rules:nth-child(2) {
            margin-bottom: 25px;

        }

        .rule {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 70%;
            }
        }

    }


}

.box_contents_container {
    margin-bottom: 118px;

    h2 {
        @include title();
        margin-bottom: 45px;

    }

    .contents_option {
        display: flex;
        margin-bottom: 41px;

        .arrow {
            margin-right: 20px;
        }

        .about {
            @include discription()
        }
    }
}

.adons_for_game {
    margin-bottom: 118px;

    .stock {
        padding-top: 16px;
        @include card_stock();

    }

    h2 {
        @include title();
        margin-bottom: 40px;
    }

    .adon_card {
        display: flex;
        flex-direction: column;
        text-align: center;
        background: rgba(236, 235, 230, 0.4);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        margin-bottom: 35px;

        .adon_pic {
            padding: 0 13px;

            img {
                width: 100%;
            }
        }


    }

    .adon_card:nth-child(3) {

        .name_adon,
        .add {
            color: black;
        }

    }


    .card_disciption {
        p:first-child {
            margin-bottom: 15px
        }

    }


    .name_adon {
        @include cardtitle();
        font-weight: 700;
        width: 70%;
        align-self: center;
        padding-left: 40px;
        padding-right: 40px;
        position: relative;
        max-width: 400px;

    }

    .adon_pic {

        margin-bottom: 20px;
    }

    .add {
        font-weight: 700;
        position: relative;


    }

    .add::before {
        position: absolute;
        content: "";
        background: url('../img/LEAF.png') 0 0/ cover no-repeat;
        background-size: 40px 40px;
        width: 40px;
        height: 40px;
        color: black;
        transform: rotate(6deg);
        left: 15%;
        bottom: 45%;
    }

    .add::after {
        position: absolute;
        content: "";
        background: url('../img/LEAF.png') 0 0/ cover no-repeat;
        background-size: 40px 40px;
        width: 40px;
        height: 40px;
        color: black;
        transform: rotate(128deg);
        right: 15%;
        bottom: 45%;
    }





    .add {
        @include cardtitle();
        margin-bottom: 9px;
    }

    .card_disciption {
        @include discription();
        width: 90%;
        margin-bottom: 20px;
        align-self: center;

    }

    .for_what_use {
        font-weight: 700;
        font-size: 13px;
        line-height: 17px;
        text-align: center;
        color: #000000;
        width: 90%;
        align-self: center;
        margin-bottom: 40px;

    }



    .card_btn_buy {
        font-family: "Almendra-Regular", sans-serif;
        background: url(../img/buy-now-btn.png) 0 0/ contain no-repeat;
        background-size: 100%;
        box-shadow: 0px 9px 9px -4px rgb(0 0 0 / 54%);
        border: none;
        width: 307px;
        padding: 10px 10px 10px 10px;
        font-weight: 700;
        color: #B49138;
        align-self: center;
        margin-top: auto;
        margin-bottom: 13px;
    }

    .available {
        font-weight: 400;
        margin-bottom: 30px;
    }

}

.special_offers_container {
    margin-bottom: 150px;

    .stock {
        @include card_stock();
        margin-top: 40px;
    }

    h2 {
        @include title();

        margin-bottom: 40px;
    }

    .offer_card {
        display: flex;
        flex-direction: column;
        text-align: center;
        background: rgba(236, 235, 230, 0.4);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);

        .card_btn_buy {
            font-weight: 700;
        }

    }

    .name_offer {
        @include cardtitle();
        margin-bottom: 13px;
        color: black;
        position: relative;

    }

    .name_offer::before {
        position: absolute;
        content: "";
        background: url('../img/LEAF.png') 0 0/ cover no-repeat;
        background-size: 40px 40px;
        width: 40px;
        height: 40px;
        color: black;
        transform: rotate(6deg);
        left: 20%;
        bottom: 0;
    }

    .name_offer::after {
        position: absolute;
        content: "";
        background: url('../img/LEAF.png') 0 0/ cover no-repeat;
        background-size: 40px 40px;
        width: 40px;
        height: 40px;
        color: black;
        transform: rotate(128deg);
        right: 20%;
        bottom: 0;
    }



    .adon_pic {

        margin-bottom: 20px;


    }




    .offer_include {
        @include discription();
        margin-bottom: 36px;
    }

    .card_btn_buy {
        font-family: "Almendra-Regular", sans-serif;
        background: url(../img/buy-now-btn.png) 0 0/ contain no-repeat;
        background-size: 100%;
        box-shadow: 0px 9px 9px -4px rgb(0 0 0 / 54%);
        border: none;
        width: 307px;
        padding: 10px 10px 10px 10px;
        color: #B49138;
        align-self: center;
        margin-bottom: 13px;
    }

    .coppies {
        @include for_what_use();
        margin-bottom: 20px
    }

    .chance {
        margin-bottom: 20px;
    }

    .where_to_buy {
        @include discription();
        align-self: center;
        width: 70%;
        margin-bottom: 30px;
    }

    img {
        width: 90%;
    }
}




.carousel {

    margin: 0 auto;
    margin-bottom: 150px;

    .carousel-image {
        img {
            width: 100%;
        }
    }

    .slick-slide:not(.slick-center) {

        .carousel-image {
            transform: scale(0.85);
        }
    }


    .slick-next:before {
        font-family: "FontAwesome", "Font Awesome 5 Brands", "Font Awesome 6 Free";
        content: "\f105";
        color: #3F1212;
        font-size: 35px;
    }

    .slick-prev:before {
        font-family: "FontAwesome", "Font Awesome 5 Brands", "Font Awesome 6 Free";
        content: "\f104";
        color: #3F1212;
        font-size: 35px;
    }

    .slick-prev,
    .slick-next {
        z-index: 1;
        top: 115%;
    }

    .slick-next {
        right: 8%;
    }

    .slick-prev {
        left: 5%;
    }

    .slick-dots {

        bottom: -45px;
    }




    .slick-dots {

        li {
            button::before {
                opacity: 1;
                font-size: 10px;
                color: #3F1212
            }


        }

        li:not(.slick-active) {
            button::after {
                font-family: 'slick';
                line-height: 20px;
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                content: '•';
                text-align: center;
                font-size: 6px;
                color: #e2dcd0;
                ;
            }
        }

    }

}


.faq_container {
    margin-bottom: 50px;

    h2 {
        @include title();
        margin-bottom: 26px;
    }

    .custom-select {
        padding-top: 30px;
        border-top: 2.5px solid rgba(63, 18, 18, 0.5);
    }

    .custom-select:last-child {
        border-bottom: 2.5px solid rgba(63, 18, 18, 0.5);
    }

    .faq_quetion {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        position: relative;
        margin-bottom: 35px;
        width: 80%;
    }

    .select-main-title {
        display: flex;
        justify-content: center;
    }

    .rotate {
        transform: rotate(45deg);
    }

    a {
        color: black;
    }
}


.explanation {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    padding-bottom: 18px;
}


.is-active {
    display: none;
}

.dropdown-arrow {
    border-right: 0.25rem solid black;
    border-bottom: 0.25rem solid black;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 2.5px;
    transform: rotate(-45deg);
    position: absolute;
    right: 5%;
}

.subscribe-container {
    background: url("../img/frame-1.png") 0 0 / cover no-repeat;
    width: 344px;
    height: 520px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-bottom: 165px;

    .subscribe-content {
        width: 60%;
        margin: 0 auto 30px auto;

        h2 {
            @include title();
            text-transform: uppercase;
            margin-bottom: 30px;
            padding-top: 80px;
        }

        p {
            margin-bottom: 30px;
        }

        .subscribe_form_email input[type="email"] {
            background: rgba(62, 18, 19, 0.1);
            padding: 10px 20px 10px 35px;
            border: none;

        }

        .subscribe_form_email input::placeholder {

            font-weight: 700;
            font-size: 13px;
            line-height: 18px;
            text-align: left;
            text-transform: uppercase;
            color: #7A7A79;

        }

    }

}

.subscribe-container::before {
    position: absolute;
    content: "";
    width: 277.79px;
    height: 252.49px;
    background: url(../img/cats-for-frame.png) 0 0/cover no-repeat;

    top: -90px;
    transform: rotate(10deg);
}

.about-web-site {
    @include discription();
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 37px;

    p {
        margin-bottom: 15px;
    }

    a {
        color: black;
        text-decoration: underline;
    }


}


.footer {
    background: url(../img/footer-pic.png) 0 0 no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: inherit;

    .social-media-container {
        .icons-first {
            margin-bottom: 35px;
        }

        .icons-first,
        .icons-second {
            display: flex;
            justify-content: space-around;
        }

        .social-media {
            display: flex;
            flex-wrap: wrap;
            width: 53px;
            justify-content: space-around;
            padding: 10px 10px;


            img {
                height: 64px;
                align-items: center;
            }
        }
    }

    .footer-pic {
        img {
            width: 100%;
        }
    }

    a {
        @include links();
        text-align: center;
    }

    .social-media:hover {
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }
}

@media (min-width: 767px) {

    .main_wraper {
        padding: 0 35px;
    }

    .header_inner {
        h1 {
            font-weight: 700;
            font-size: 40px;
            line-height: 40px;
            bottom: 100px;
        }
    }


    .navigation {
        margin-bottom: 150px;
        background: url("../img/tablet-background.png") 0 0;

        .navigation_links {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 80%;
        }
    }

    .about_game {

        h2 {
            font-weight: 700;
            font-size: 45px;
            line-height: 55px;
        }

        .about_game_title {
            margin-bottom: 60px;
        }

        .about-game-content {
            // margin-bottom: 249px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .show {
                display: block;
            }

            .photo-box {
                width: 100%;
            }

            .photo-box:first-child {

                img {
                    margin-bottom: 25px;
                }
            }

            .about-game-text {
                width: 335px;
            }

            .left-part {
                display: flex;
                width: 100%;
                justify-content: space-between;

                .photo-box {
                    width: 50%;
                }
            }
        }
    }

    .key_features_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        h2 {
            font-weight: 700;
            font-size: 45px;
            line-height: 55px;
            width: 100%;
            margin-bottom: 94px;
        }



        .left-part {
            margin-right: 70px;
        }

        .angel {
            width: 100%;
            margin-bottom: 100px;

            img {
                height: 200px;
            }
        }

        .game_rules_container {
            justify-content: start;
            width: 100%;
            justify-content: center;
            flex-wrap: nowrap;

            .game_rules {
                width: 174px;
            }

            .game_rules:nth-child(2) {
                border: none;
            }


            .game_rules:nth-child(1),
            .game_rules:nth-child(2) {
                margin-bottom: 0;
            }
        }
    }


    .game_rules_container {

        .game_rules {
            justify-content: center;

            .rule {
                height: 45%;

                img {
                    height: 100%;
                }
            }
        }
    }

    .box_contents_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 150px;

        h2 {
            font-weight: 700;
            font-size: 45px;
            line-height: 55px;
            width: 100%;
        }

        .left-part,
        .right-part {
            width: 50%;
        }

    }



    .adons_for_game {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-weight: 700;
        margin: 0 -14px 150px -14px;

        h2 {
            font-weight: 700;
            font-size: 45px;
            line-height: 55px;
            width: 100%;
            margin-bottom: 60px;
        }


        .adon_card {
            width: 335px;
            margin: 0 14px 60px;

        }



        .adon_card:nth-child(2),
        .adon_card:nth-child(4),
        .adon_card:nth-child(6) {
            .name_adon {
                margin-top: 15px;
            }
        }
    }

    .carousel {

        .slick-next {
            top: 50%;
            right: 5%;
        }

        .slick-prev {
            top: 50%;
        }



        .slick-next:before,
        .slick-prev::before {
            opacity: 1;
            color: white;
        }


    }

    .faq_container {
        .faq_quetion {
            font-size: 30px;
        }
    }

    .subscribe-container {
        background: url(../img/frame-tablet.png) 0 0/cover no-repeat;
        background-size: 100%;
        width: 700px;

        .subscribe-content {
            width: 50%;
            margin-right: 5%;
            margin-left: auto;
            padding-bottom: 10%;

            h2 {
                font-size: 45px;
            }

            p {
                width: 60%;
                font-size: 20px;
                margin: 15px auto 30px;
            }
        }
    }

    .subscribe-container::before {
        top: 115px;
        width: 350px;
        height: 330px;
    }



    .footer {
        background: url(../img/footer-background-tablet.png) 0 0 / contain no-repeat;
        background-size: 100%;
        height: auto;
        padding-bottom: 112%;

        .social-media-container {

            margin-top: 17%;

            .icons-first,
            .icons-second {
                width: 85%;
                margin: 0 auto;
                justify-content: space-evenly;
            }
        }
    }

    .footer-pic {
        display: none;
    }


}




.special_offers_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 250px;
    font-weight: 700;
    margin: 0 -14px 150px -14px;




    h2 {
        font-weight: 700;
        font-size: 45px;
        line-height: 55px;
        width: 100%;

    }



    .offer_card {
        width: 335px;
        margin: 0 14px 15px;
    }

    .chance {
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
    }

}

.faq_container {
    margin-bottom: 220px;

    h2 {
        font-weight: 700;
        font-size: 60px;
        line-height: 55px;
        margin-bottom: 74px;
    }



    .dropdown-arrow {
        border-right: 0.25rem solid black;
        border-bottom: 0.25rem solid black;
        width: 0.7rem;
        height: 0.7rem;
    }
}

@media (min-width: 1080px) {

    .main_wraper {
        padding: 0 0;
    }

    .header {
        .header_inner {
            background: url('../img/header-background-descktop.png') 0 0 no-repeat;
            background-size: 100%;
            padding-bottom: 40%;
            height: 0;
            overflow: hidden;
            position: relative;
        }

        h1 {
            font-weight: 700;
            line-height: 55px;
            text-align: center;
            bottom: 40px;
            width: 60%;
            padding-left: 20%;
        }

    }

    .navigation {
        width: 97.5%;
        margin: 0 auto;
        background: url(../img/tablet-background.png) 110% -15px;
        height: 170px;
        margin-bottom: 200px;

        .navigation_links {
            width: 100%;
        }
    }

    .about_game {
        padding: 0 99px;
        margin-bottom: 150px;

        h2 {
            font-weight: 700;
            font-size: 60px;
            line-height: 55px;
            text-align: center;
        }

        .about-game-content {
            flex-direction: row;

            .photo-box {
                width: 45%;
            }

            .about-game-text {
                width: 100%;
                margin-bottom: 65px;

                p {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 23px;
                }
            }

            .left-part {
                display: flex;
                flex-direction: column;
                width: 45%;

                .about-game-text {
                    order: 1;
                }

                .photo-box {
                    order: 2;
                }
            }
        }
    }


    .game_rules_container {
        margin: unset;
        padding: 0 99px;

        img {
            height: 133px;
        }
    }

    .key_features_container {
        margin-bottom: 200px;
        position: relative;

        h2 {
            font-weight: 700;
            font-size: 60px;
            line-height: 55px;
            text-align: center;
        }

        .game_rules_container {
            padding-top: 200px;

            .game_rules {

                width: 25%;

                .count {
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 55px;
                }
            }
        }

        .key_option {
            .about {
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
            }
        }

        .angel {
            position: absolute;
            top: 30%;
            right: 5%;
            // padding: 0 112px;
        }


    }

    .box_contents_container {
        margin-bottom: 200px;

        h2 {
            font-weight: 700;
            font-size: 60px;
            line-height: 55px;
            text-align: center;
            margin-bottom: 85px;
        }

        .contents_option {

            .about {
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
            }
        }

        .left-part,
        .right-part {

            width: 30%;
        }
    }

    .left-part {

        margin-right: 70px;
    }

    .adons_for_game {
        margin: 0 0;
        margin-bottom: 250px;


        h2 {
            font-weight: 700;
            font-size: 60px;
            line-height: 55px;
            margin-bottom: 65px;
        }

        .adon_card {
            width: 492px;

            img {
                width: 90%;
            }


        }

        .adon_card:nth-child(2),
        .adon_card:nth-child(4),
        .adon_card:nth-child(6) {
            .name_adon {
                margin-top: 22px;
            }
        }

        .stock {
            font-size: 18px;
            line-height: 23px;
        }

        .name_adon,
        .add {
            font-weight: 700;
            font-size: 40px;
            line-height: 45px;

        }

        .add {
            margin-bottom: 22px;
        }

        .card_disciption {
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
        }

        .for_what_use {
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
        }

        .card_btn_buy {
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
            width: 452px;

        }

        .add::before {
            left: 25%;
            bottom: 20%;
        }

        .add::after {
            right: 25%;
            bottom: 20%;
        }
    }


    .special_offers_container {
        margin: 0 0;
        margin-bottom: 250px;

        h2 {
            font-size: 60px;
            line-height: 55px;
            margin-bottom: 60px;
        }

        .stock {
            font-size: 18px;
            line-height: 23px;
        }

        .name_offer {
            font-weight: 700;
            font-size: 40px;
            line-height: 45px;
            margin-bottom: 22px;
        }

        .adon_card {
            margin-bottom: 30px;
        }

        .offer_card {
            width: 452px;

            img {
                width: 90%;
            }
        }




        .offer_card:first-child {
            margin-left: 28px;
        }

        .offer_card:last-child {
            .name_offer::before {
                left: 15%;
            }

            .name_offer::after {
                right: 15%;
            }
        }

        .offer_include {
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
        }

        .chance {
            margin-bottom: 30px;
        }

        .coppies {
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
            margin-bottom: 30px;
        }

        .where_to_buy {
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
        }



        .card_btn_buy {
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
            margin-bottom: 20px;
            width: 415px;
            height: 100%;
            background-size: 100%;
        }
    }

    .faq_container {
        width: 90%;
        margin: 50px auto;
        margin-bottom: 250px;


        .select-main-title {
            position: relative;
            font-weight: 700;
            font-size: 30px;
            line-height: 45px;
        }

        .explanation {
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            width: 50%;
            margin: 0 auto;
        }

        .dropdown-arrow {
            right: 5%;

        }
    }

    .carousel .slick-next:before,
    .carousel .slick-prev:before {
        font-size: 55px;




    }


    .carousel {
        .slick-dots {

            li {
                button::before {
                    opacity: 1;
                    font-size: 14px;
                    color: #3F1212
                }


            }

            li:not(.slick-active) {
                button::after {
                    font-family: 'slick';
                    line-height: 20px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 30px;
                    content: '•';
                    text-align: center;
                    font-size: 10px;
                    color: #e2dcd0;
                    ;
                }
            }
        }



        .subscribe-container {
            width: 920px;
            height: 600px;





            .subscribe-content {
                padding-bottom: unset;

                h2 {
                    font-size: 60px;
                }
            }
        }

        .subscribe-container::before {
            width: 500px;
            height: 456px;
            background-size: 500px 456px;
            transform: rotate(10deg);
        }


        .about-web-site {
            width: 30%;


        }



    }

    .footer {
        background: url(../img/footer-background-descktop.png) 0 0 no-repeat;
        background-size: 100%;
        width: auto;
        height: 40%;
        padding-bottom: 32%;

        .social-media-container {
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 0 3%;

            .icons-first,
            .icons-second {
                margin: unset;
                justify-content: start;
            }

            .icons-first {
                margin-bottom: 0;
            }

            .icons-first,
            .icons-second {
                width: 30%;
                display: flex;
                justify-content: space-around;
            }
        }
    }
}